body {
    font-family: 'Poppins', sans-serif;
}

.hederfast {
    font-size: 40px;
    width: 384px;
    height: 10px;
}

.watchlive {
    width: 230px;
    height: 64px;
    font-size: 1em;
    background-color: #DD0000;
    color: whitesmoke;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 70px;
}

.watchlive:hover {
    border: 3px solid #DD0000;

}

.banar-heading {
    width: 350px;
    height: 450px;
}

.banner-img img {
    width: 340px;
    height: 400px;
    margin-top: 22px;
    margin-left: 10px;
}

.pra1st {
    font-size: 12px;
    line-height: 14px;
}

.para0nd {
    margin-bottom: 30px;
}

.jala1 {
    margin-top: 110px;
}

/*-------------------------Banner main part----------*/
.Livep1 .shuvokh{
    width: 380px;
    height: 200px;
}
.bannerpart {
    background-color: #161616;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    width: 375px;
    height: 872px;
    padding-left: 11px;
    margin-left: 10px;
    margin-top: 29px;
    border-radius: 15px;
}

/*-----------Manu Medel Upcoming Match,All Group,Blog----------------*/
.arbuttom .button11 {
    width: 245px;
    height: 64px;
    border: 1px solid black;
    font-size: 20px;
    background-color: white;
    margin-top: 10px;
    margin-left: 80px;
    border-radius: 10px;
}

.arbuttom a {
    text-decoration: none;
    color: black;
}

.arbuttom .button22 {
    width: 245px;
    height: 64px;
    border: 1px solid black;
    font-size: 20px;
    color: white;
    background-color: red;
    margin-top: 10px;
    margin-left: 80px;
    border-radius: 10px;
}
.arbuttom .button13{
        width: 345px;
        height: 64px;
        border: 1px solid black;
        font-size: 20px;            background-color: white;
       margin-top: 10px;
       margin-left: 30px;
       border-radius: 10px;
}

/*----------------------Artical Part-----------------------*/
.livepra {
    width: 360px;
}

.Livep1 {

    width: 900px;
    height: 376px;
    margin-left: 16px;
}

.bottom-transfer {
    width: 100px;
    height: 32px;
    border-radius: 5px;
}

.bottom-transfer a {
    text-decoration: none;
    color: black;
}

.maincontaint {
    width: 50%;
    margin-top: 60px;
    width: 400px;
}

/*------------------Footer--------------------*/
.footer-main {
    width: 405px;
    height: 500px;
    background-color: #161616;
    text-align: center;

}

.fooh1 {
    color: whitesmoke;
    padding-top: 80px;
}

.footerspan a {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px;
    margin-top: 80px;
    padding: 15px;
    padding-top: 50px;

}

.footdiv1 hr {
    width: 335px;
    background-color: #836d6d;

}

.shuvo {
    color: whitesmoke;
    margin-top: 200px;
}